<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Enfoque Ambiental</title>
        <link rel="icon" type="image/png" href="{% static 'img/enfoqueambico.png' %}">
        <meta content="Sistema de información territorial de la provincia del Chaco, herramienta de visualización, consulta y descarga de datos georreferenciados" name="description">
        <meta content="geoportal, datos, georreferencia, visualizador, Chaco, SIT, Sistemas de informacion territorial, gis, sig" name="keywords">

        <!-- Estilos -->
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="encabezado_logo">
                <a href="{% url 'posts' %}">
                    <img src="{% static 'img/enfoqueamb_logo.png' %}" alt="">
                </a>
            </div>
            <div class="encabezado_enlaces">
                <li><a href="{% url 'quienessomos' %}">¿Quiénes somos?</a></li>
                <li><a href="{% url 'contacto' %}">Contactanos</a></li>
                <li><a href="{% url 'sobrelproyecto' %}">Sobre el proyecto</a></li>
                {% if user.is_authenticated %}
                    <li class="bienvenidouser">
                        {% if user.icono %}
                            <img src="{{ user.icono.url }}" alt="Icono de {{ user.username }}" class="icono_usuario">
                        {% endif %}
                        Bienvenido, {{ user.username }}
                    </li>
                    <li class="boton_cerrarses">
                        <form action="{% url 'logout' %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="bot_cerrar">Cerrar sesión</button>
                        </form>
                    </li>
                {% else %}
                    <li><a class="boton_inicioses" href="{% url 'login' %}">Iniciar Sesión</a></li>
                {% endif %}
            </div>
        </header>

        <div class="contenedor_contacto">
            <div class="contacto_titulo">
                <h1>Contactanos</h1>
                <p>Envianos tu comentario y/o consulta</p>  
            </div>
            <div class="form__envio">
                <form class="contacto_form" method="post">
                    {% csrf_token %}
                    <div class="formcolumna1">
                        <div class="form_contac">
                            <label for="nombre_apellido">Nombre y apellido</label>
                            <input type="text" id="nombre_apellido" name="nombre_apellido" class="input-contac" required placeholder="Ingresá tu nombre y apellido">
                        </div>
                        <div class="form-contac">
                            <label for="asunto">Asunto</label>
                            <input type="text" id="asunto" name="asunto" class="input-contac" required placeholder="Ingresá el asunto del mensaje">
                        </div>
                        <div class="form-contac">
                            <label for="comentario">Comentario</label>
                            <textarea id="comentario" name="comentario" class="input-contac" rows="6" required placeholder="Ingresá tu consulta"></textarea>
                        </div>
                        <input class="bot_contacto" type="submit" value="Enviar">
                    </div>
                    
                    <div class="formcolumna2">
                        <div class="form-contac">
                            <label for="email">Correo electrónico</label>
                            <input type="email" id="email" name="email" class="input-contac" required placeholder="Dejanos tu correo electrónico">
                        </div>
                        <div class="form-contac">
                            <label for="telefono">Teléfono</label>
                            <input type="text" id="telefono" name="telefono" class="input-contac" required placeholder="Dejanos un número de contacto">
                        </div>
                    </div>  
                </form>
                <div class="form-img">
                    <img src="{% static 'img/contacto.png' %}" alt="imagencontacto">
                </div>  
            </div>


        <footer>
            <div class="contenedor_redes">
                <a href="" target="_blank" class="icon"><img class="redes__iconos-svg" src="{% static 'img/iconos/instagram.png' %}" alt="instagram" title="instagram"/></a>
                <a href="" target="_blank" class="icon"><img class="redes__iconos-svg" src="{% static 'img/iconos/facebook.png' %}" alt="facebook" title="facebook"/></a>
                <a href="" class="icon" target="_blank"><img class="redes__iconos-svg" src="{% static 'img/iconos/twitter.png' %}" alt="x-twitter" title="x-twitter"/></a>
                <a href="" class="icon" target="_blank"><img class="redes__iconos-svg" src="{% static 'img/iconos/youtube.png' %}" alt="youtube" title="youtube"/></a>
            </div> 
            <div class="contenedor_amb">
                <a href="https://www.vidasilvestre.org.ar/" target="_blank" class="icon"><img class="redes__iconos-svg" src="{% static 'img/iconos/vidasilv.png' %}" alt="instagram" title="vidasilvestre"/></a>
                <a href="https://www.avesargentinas.org.ar/" target="_blank" class="icon"><img class="redes__iconos-svg" src="{% static 'img/iconos/avesarg.png' %}" alt="facebook" title="facebook"/></a>
                <a href="https://wwf.panda.org/es/" class="icon" target="_blank"><img class="redes__iconos-svg" src="{% static 'img/iconos/wwf.png' %}" alt="x-twitter" title="x-twitter"/></a>
                <a href="https://www.greenpeace.org/argentina/" class="icon" target="_blank"><img class="redes__iconos-svg" src="{% static 'img/iconos/greenpace.png' %}" alt="youtube" title="youtube"/></a>
            </div>  
        </footer>
    </body>