<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Enfoque Ambiental</title>
        <link rel="icon" type="image/png" href="{% static 'img/enfoqueambico.png' %}">
        <meta content="Sistema de información territorial de la provincia del Chaco, herramienta de visualización, consulta y descarga de datos georreferenciados" name="description">
        <meta content="geoportal, datos, georreferencia, visualizador, Chaco, SIT, Sistemas de informacion territorial, gis, sig" name="keywords">

        <!-- Estilos -->
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="encabezado_logo">
                <a href="{% url 'posts' %}">
                    <img src="{% static 'img/enfoqueamb_logo.png' %}" alt="">
                </a>
            </div>
            <div class="encabezado_enlaces">
                <li><a href="{% url 'quienessomos' %}">¿Quiénes somos?</a></li>
                <li><a href="{% url 'contacto' %}">Contactanos</a></li>
                <li><a href="{% url 'sobrelproyecto' %}">Sobre el proyecto</a></li>
                {% if user.is_authenticated %}
                    <li class="bienvenidouser">
                        {% if user.icono %}
                            <img src="{{ user.icono.url }}" alt="Icono de {{ user.username }}" class="icono_usuario">
                        {% endif %}
                        Bienvenido, {{ user.username }}
                    </li>
                    <li class="boton_cerrarses">
                        <form action="{% url 'logout' %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="bot_cerrar">Cerrar sesión</button>
                        </form>
                    </li>
                {% else %}
                    <li><a class="boton_inicioses" href="{% url 'login' %}">Iniciar Sesión</a></li>
                {% endif %}
            </div>
        </header>

        <div class="contenedor_quienesomos">
            <h1>Quiénes somos</h1>
            <div class="contenedor_quienesomos-imagentx">
                <img src="{% static 'img/quienessomos.png' %}" alt="">
            <div class="quienes-text">
                <p>En Enfoque Ambiental, creemos que la información es el primer paso hacia un cambio positivo. Somos un equipo apasionado por el medio ambiente, comprometido con brindar noticias, análisis y perspectivas sobre los temas que impactan a nuestro planeta. Nuestro objetivo es generar conciencia y promover soluciones sostenibles a través de contenido riguroso y accesible.<br>
                    <br>
                    Nos motiva la participación activa de nuestros usuarios, quienes no solo son lectores, sino también generadores de información y propuestas. Queremos que Enfoque Ambiental sea una plataforma donde todos puedan contribuir al debate y a la construcción de un futuro más sostenible.
                    Desde la biodiversidad hasta la energía renovable, abordamos los desafíos ambientales con un enfoque integral y responsable.
                    Nuestra misión es proporcionar las herramientas necesarias para que cada persona pueda estar informada, participar y actuar.<br>
                    <br>
                    Te invitamos a ser parte de esta comunidad comprometida con el cuidado de nuestro planeta y con la transformación hacia una sociedad más justa y verde.
                </p>
            </div>
            </div>    
        </div>

        <footer>
            <div class="contenedor_redes">
                <a href="" target="_blank" class="icon"><img class="redes__iconos-svg" src="{% static 'img/iconos/instagram.png' %}" alt="instagram" title="instagram"/></a>
                <a href="" target="_blank" class="icon"><img class="redes__iconos-svg" src="{% static 'img/iconos/facebook.png' %}" alt="facebook" title="facebook"/></a>
                <a href="" class="icon" target="_blank"><img class="redes__iconos-svg" src="{% static 'img/iconos/twitter.png' %}" alt="x-twitter" title="x-twitter"/></a>
                <a href="" class="icon" target="_blank"><img class="redes__iconos-svg" src="{% static 'img/iconos/youtube.png' %}" alt="youtube" title="youtube"/></a>
            </div> 
            <div class="contenedor_amb">
                <a href="https://www.vidasilvestre.org.ar/" target="_blank" class="icon"><img class="redes__iconos-svg" src="{% static 'img/iconos/vidasilv.png' %}" alt="instagram" title="vidasilvestre"/></a>
                <a href="https://www.avesargentinas.org.ar/" target="_blank" class="icon"><img class="redes__iconos-svg" src="{% static 'img/iconos/avesarg.png' %}" alt="facebook" title="facebook"/></a>
                <a href="https://wwf.panda.org/es/" class="icon" target="_blank"><img class="redes__iconos-svg" src="{% static 'img/iconos/wwf.png' %}" alt="x-twitter" title="x-twitter"/></a>
                <a href="https://www.greenpeace.org/argentina/" class="icon" target="_blank"><img class="redes__iconos-svg" src="{% static 'img/iconos/greenpace.png' %}" alt="youtube" title="youtube"/></a>
            </div>  
        </footer>
    </body>