<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Enfoque Ambiental</title>
        <link rel="icon" type="image/png" href="{% static 'img/enfoqueambico.png' %}">
        <meta content="Sistema de información territorial de la provincia del Chaco, herramienta de visualización, consulta y descarga de datos georreferenciados" name="description">
        <meta content="geoportal, datos, georreferencia, visualizador, Chaco, SIT, Sistemas de informacion territorial, gis, sig" name="keywords">

        <!-- Estilos -->
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="encabezado_logo">
                <a href="{% url 'posts' %}">
                    <img src="{% static 'img/enfoqueamb_logo.png' %}" alt="">
                </a>
            </div>
            <div class="encabezado_enlaces">
                <li><a href="{% url 'quienessomos' %}">¿Quiénes somos?</a></li>
                <li><a href="{% url 'contacto' %}">Contactanos</a></li>
                <li><a href="{% url 'sobrelproyecto' %}">Sobre el proyecto</a></li>
                {% if user.is_authenticated %}
                    <li class="bienvenidouser">
                        {% if user.icono %}
                            <img src="{{ user.icono.url }}" alt="Icono de {{ user.username }}" class="icono_usuario">
                        {% endif %}
                        Bienvenido, {{ user.username }}
                    </li>
                    <li class="boton_cerrarses">
                        <form action="{% url 'logout' %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="bot_cerrar">Cerrar sesión</button>
                        </form>
                    </li>
                {% else %}
                    <li><a class="boton_inicioses" href="{% url 'login' %}">Iniciar Sesión</a></li>
                {% endif %}
            </div>
        </header>

        <div class="contenedor_proyecto">
            <h1>Sobre el proyecto</h1>
            <div class="contenedorproy_textos">

                <div class="textoproyec-izq">
                    <p>Somos tres apasionadas por el planeta y la tecnología, <b>¡una combinación explosiva! 🚀</b>
                    Nos conocimos en el Informatorio, un programa creado por el Gobierno del Chaco de formación en programación 
                    donde decidimos unir fuerzas para crear Enfoque Ambiental, un blog en donde exploramos las últimas noticias verdes 🌱, pero con un toque geek.</p>
                </div>
                <div class="textoproyec-der">
                    <p>Además de ser programadoras principiantes, también somos arquitectas y especialistas en GIS 
                    (¡sí, hacemos magia con los mapas! 🗺️). Esta integración de perspectivas nos permite abordar los temas ambientales
                    desde diferentes ángulos, combinando nuestra visión creativa y técnica para ofrecerte lo mejor de ambos mundos.
                    </p><br>
                    
                    <p><b>Juntas, estamos construyendo un espacio donde la tecnología y la naturaleza se encuentran, porque creemos que si vamos 
                    a salvar el mundo, ¡primero debemos entenderlo! 💡🌎</b></p>
                </div>
            </div>
            <div class="contenedorproy_tarj">
                <div class="tarjetaproy">
                    <img src="{% static 'img/cecilia.png' %}" alt="tarjetapersonaje">
                    <h3>Cecilia Servin</h3>
                    <p>Cecilia es nuestra estratega digital, siempre optimizando nuestro código
                        y conectando los puntos como si fuera un mapa de la biodiversidad 🌍.
                    </p>
                    <div class="tarjetaproy_redes">
                        <a href="" target="_blank" ><img class="redespers" src="{% static 'img/iconos/vidasilv.png' %}" alt="instagram" title="vidasilvestre"/></a>
                        <a href="" target="_blank"><img class="redespers" src="{% static 'img/iconos/avesarg.png' %}" alt="facebook" title="facebook"/></a>
                        <a href=""  target="_blank"><img class="redespers" src="{% static 'img/iconos/wwf.png' %}" alt="x-twitter" title="x-twitter"/></a>
                        <a href="" target="_blank"><img class="redespers" src="{% static 'img/iconos/greenpace.png' %}" alt="youtube" title="youtube"/></a>
                    </div>
                </div>

                <div class="tarjetaproy">
                    <img src="{% static 'img/lucia.png' %}" alt="tarjetapersonaje">
                    <h3>Lucia Misiaszek</h3>
                    <p>Lucía es nuestra gurú ambiental, capaz de explicarte el cambio climático mientras
                     programa en Python sin despeinarse 💻🌿.
                    </p>
                    <div class="tarjetaproy_redes">
                        <a href="" target="_blank" ><img class="redespers" src="{% static 'img/iconos/vidasilv.png' %}" alt="instagram" title="vidasilvestre"/></a>
                        <a href="" target="_blank"><img class="redespers" src="{% static 'img/iconos/avesarg.png' %}" alt="facebook" title="facebook"/></a>
                        <a href=""  target="_blank"><img class="redespers" src="{% static 'img/iconos/wwf.png' %}" alt="x-twitter" title="x-twitter"/></a>
                        <a href="" target="_blank"><img class="redespers" src="{% static 'img/iconos/greenpace.png' %}" alt="youtube" title="youtube"/></a>
                    </div>
                </div>            

                <div class="tarjetaproy">
                    <img src="{% static 'img/tania.png' %}" alt="tarjetapersonaje">
                    <h3>Tania Maldonado</h3>
                    <p>Tania es la creativa del equipo, siempre encontrando la manera de hacer que lo 
                    complicado se vea sencillo, ¡y con estilo! ✨.
                    </p>
                    <div class="tarjetaproy_redes">
                        <a href="" target="_blank" ><img class="redespers" src="{% static 'img/iconos/vidasilv.png' %}" alt="instagram" title="vidasilvestre"/></a>
                        <a href="" target="_blank"><img class="redespers" src="{% static 'img/iconos/avesarg.png' %}" alt="facebook" title="facebook"/></a>
                        <a href=""  target="_blank"><img class="redespers" src="{% static 'img/iconos/wwf.png' %}" alt="x-twitter" title="x-twitter"/></a>
                        <a href="" target="_blank"><img class="redespers" src="{% static 'img/iconos/greenpace.png' %}" alt="youtube" title="youtube"/></a>
                    </div>
                </div>
            </div>
        </div>





        

        <footer>
            <div class="contenedor_redes">
                <a href="" target="_blank" class="icon"><img class="redes__iconos-svg" src="{% static 'img/iconos/instagram.png' %}" alt="instagram" title="instagram"/></a>
                <a href="" target="_blank" class="icon"><img class="redes__iconos-svg" src="{% static 'img/iconos/facebook.png' %}" alt="facebook" title="facebook"/></a>
                <a href="" class="icon" target="_blank"><img class="redes__iconos-svg" src="{% static 'img/iconos/twitter.png' %}" alt="x-twitter" title="x-twitter"/></a>
                <a href="" class="icon" target="_blank"><img class="redes__iconos-svg" src="{% static 'img/iconos/youtube.png' %}" alt="youtube" title="youtube"/></a>
            </div> 
            <div class="contenedor_amb">
                <a href="https://www.vidasilvestre.org.ar/" target="_blank" class="icon"><img class="redes__iconos-svg" src="{% static 'img/iconos/vidasilv.png' %}" alt="instagram" title="vidasilvestre"/></a>
                <a href="https://www.avesargentinas.org.ar/" target="_blank" class="icon"><img class="redes__iconos-svg" src="{% static 'img/iconos/avesarg.png' %}" alt="facebook" title="facebook"/></a>
                <a href="https://wwf.panda.org/es/" class="icon" target="_blank"><img class="redes__iconos-svg" src="{% static 'img/iconos/wwf.png' %}" alt="x-twitter" title="x-twitter"/></a>
                <a href="https://www.greenpeace.org/argentina/" class="icon" target="_blank"><img class="redes__iconos-svg" src="{% static 'img/iconos/greenpace.png' %}" alt="youtube" title="youtube"/></a>
            </div>  
        </footer>
    </body>