<!-- <!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <div class="contenedor_login">
        <h1>Iniciar Sesión</h1>
        {% if messages %}
            <div class="alerta">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.password.label_tag }}
            {{ form.password }}
            <button type="submit">Iniciar Sesión</button>
        </form>
        <div class="enlaces_registro">
            <p>¿No tienes cuenta? <a href="{% url 'registro' %}">Regístrate aquí</a></p>
        </div>
    </div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="es">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Enfoque Ambiental</title>
        <link rel="icon" type="image/png" href="{% static 'img/enfoqueambico.png' %}">
        <meta content="Sistema de información territorial de la provincia del Chaco, herramienta de visualización, consulta y descarga de datos georreferenciados" name="description">
        <meta content="geoportal, datos, georreferencia, visualizador, Chaco, SIT, Sistemas de informacion territorial, gis, sig" name="keywords">

        <!-- Estilos -->
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="contenedor_ppal"> 
            <div class="contenedor_ppal-img">
                <img src="{% static 'img/loginfondo.png' %}" alt="">
            </div>
            <div class="contenedorpadre_registro">
                <div class="contenedorgral_registro">
                    <div class="contenedor_login">
                        <div class="registro_logoenamb">
                            <a href="{% url 'posts' %}">
                                <img src="{% static 'img/enfoqueamb_logo.png' %}" alt="">
                            </a>
                        </div>
                        <h1>Inicio de sesión</h1>
                        {% if messages %}
                        <div class="alerta">
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="registro_inputs">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="input-group">
                                    {{ form.username.label_tag }}
                                    {{ form.username }}
                                </div>
                                <div class="input-group">
                                    {{ form.password.label_tag }}
                                    {{ form.password }}
                                </div>
                                <button class="iniciosesion" type="submit">Iniciar sesión</button>
                            </form>
                        </div>    
                        <div class="enlaces_registro">
                            <p>¿No tenes usuario? <a href="{% url 'registro' %}">Registrate acá</a></p>
                        </div>
                    </div>
                    <div class="contenedor_img">
                        <img src="{% static 'img/loginimg.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>



    </body>    